.vertical-timeline span {
  color: white;
  font-family: "Courier Prime", monospace;
}

.vertical-timeline-element .vertical-timeline-element-date {
  color: white;
}

.svg-inline--fa {
  color: white;
}
